<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="latifesüedatuğrul, Süeda Tuğrul, TUĞRUL, SÜEDA, LATİFE">
    <meta name="author" content="Latife Süeda Tuğrul">
    <title>@ViewData["Title"] - kişisel websitesi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portfolyo.styles.css" asp-append-version="true" />
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        
        p {
            font-size: 16px;
            color:black;
        }
        
        .margin {
            margin-bottom: 45px;
        }
        
        .bg-1 {
            background-color: #2dde98;
            /* Green */
            color: #333333;
            /* black */
        }
        
        .bg-2 {
            background-color: #474e5d;
            /* Dark Blue */
            color: #ffffff;
        }
        
        .bg-3 {
            background-color: #ffffff;
            /* White */
            color: #555555;
        }
        
        .bg-4 {
            background-color: #4C3173;
            /* Blue Diamond */
            color: #fff;
        }
        
        .bg-5 {
            background-color: #ecebe8;
            /* Gray */
            color: #333;
        }
        
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        
        .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        
        .navbar-nav li a:hover {
            color: #4C3173 !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-page="/Shared/_Layout">Ana sayfa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Hakkımda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Yayınlar/Yayınlar">Yayınlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Oyun/Oyun">Oyna Bakalım</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

        

    <!-- Contact -->
    <div id="iletisim" class="container-fluid bg-5 text-center">
        <h3 class="margin">İletişim</h3>
        <br>
        <div class="row ">
            <div class="col-sm-5 text-left">
                <p>Merhaba demek ister misin? Belki bir kahve ısmarlarsın? </p>
                <p style: font-size:xx-small>Staj teklifleri için öncelikli geridönüş.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Ankara, TR</p>
                <p><span class="glyphicon glyphicon-phone"></span> +90 551 167 9992</p>
                <p><span class="glyphicon glyphicon-envelope"></span> tugrulsueda1@gmail.com</p>
            </div>
            <div class="col-sm-7 ">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="İsim" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Mail" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Mesaj" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

     <!-- Footer -->

    <footer class="container-fluid bg-4 text-center">

        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
        <i class="fa fa-spotify" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </footer>
    <footer class="border-top bg-4  text-muted">
        <div class="container">
            &copy; 2023 - portfolyo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




